doctype html
html
	head
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='../../main.css', type='text/css')

	body
		H2  <p style="color: orange">Welcome to the User Information App 
		buffer!= buffer
		
		br
		a.btn.btn-info(href='search', role='button') search for user
		a.btn.btn-info(href='newuser', role='button') register



