doctype html
html(lang="en")
	head
		title= "Find User"
		link(rel='stylesheet', href='../../main.css', type='text/css')
			
	body
		h2 <p style="color: pink"> Whoop whoop! We found you.
		br
		fullname= fullname
		p username: #{username}
		p email address: #{email}.
    
